

.alarm > input{
    font-size: 100px;
    width: 84px;
}
.alarm{
    font-size: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    flex-grow: 1;
    flex-shrink: 4;
    font-size: 33px;
    left: 45px;
    width: 84%;
    position: relative;
    white-space: break-spaces;
    border-bottom: 1px solid;
}
.title hr{
    width: 224px;
    left: 0;
    position: absolute;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.number{
    /* width: 107px; */
    position: relative;
    display: flex;
}
.number > div{
    display: flex;
    flex-direction: revert;
    flex-direction: column;
    /* float: right; */
    margin: auto;
    /* position: absolute; */
    right: 0;
}
.number > div > button{
    height: 30px;
}
.zone{
    height: 56px;
    font-size: 50px;
}
.large{
    width: 40px;
    height: 40px;
}
.toggle{
    width: 120px;
    border: 1px solid blue;
    height: 23px;
    position: relative;
}
.toggleswitch{
    border: 1px solid red;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 96px;
    transition: all 1s ease;
}
.togglecheckbox{

}
.off{
    right: 0;
}
.ringsong{
    font-size: 20px;
    text-align: right;
}
.row ul{
    position: absolute;
    /* bottom: 0; */
    top: 0;
    font-size: 63px;
    border: 1px solid blue;
    width: 85%;
    background: white;
    z-index: 2;
    overflow: auto;
    height: 300px;
    padding: 0;
}
.row ul li{
    position: relative;
    display: flex;
    font-size: 25px;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid black;
    list-style: none;
    padding: 18px;
}
.row ul li > button{
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
}
.close{
    display: none;
}

nav{
    position: fixed;
    width: 99%;
    z-index: 20;
}
nav .left{
    float: left;
}
nav .right{
    float: right;
}
.clear{
    clear: both;
}
.hrdiv{
    flex-grow: .5;
}
.hrdiv hr{
    transform: translate(-624px, 25px);
}